div {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 20px;
  align-items: center;
}

main {
  padding: 20px calc(50% - 95px);
  background-color: aliceblue;
}

body {
  background-color: antiquewhite;
}

p {
  font-size: 30px;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace;
}

input[type="text"] {
  width: 32px;
  font-size: 30px;
  font-family: "Trebuchet MS", sans-serif;
  padding: 15px 10px;
  border: none;
  border-radius: 8px;
  background-color: slategray;

    &::placeholder {
        color: black;
    }

}

button {
  margin-left: calc(50% + 5px);
  background-color: slategrey;
  border-radius: 8px;
  border: none;
  padding: 5px 20px;
  width: 70px;

  transition: all 0.3s ease-in-out;

  &:hover {
    border-radius: 0;
  }

  &:active {
    color: white;
    background-color: black;
  }
  &:disabled {
    color: white;
    background-color: black;
  }
}

#start {
  z-index: 2;
}

#stop {
  margin-top: 5px;
}
